html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
}

.dv-geral {
    width: 100%;
    height: 100%;
}

.dv-header {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.dv-body {
    width: 100%;
    max-height: 250px;
    height: calc(40% - 30px);
    margin-bottom: 30px;
}

.dv-fun-games {
    width: 100%;
    max-height: 360px;
    height: calc(40% - 30px);
    margin-bottom: 30px;
}

.dv-buttons {
    width: 100%;
    height: 40px;
}

.dv-user {
    width: 300px;
    height: 50px;
    padding: 10px;
}

.dv-user-xbox {
    width: 45px;
    height: 45px;
    float: left;
}

.img-xbox {
    width: 45px;
    height: 45px;
}

.dv-user-info {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 45px;
    padding-top: 14px;
    padding-left: 55px;
}

.dv-card-aditionals {
    width: calc(100% - 290px);
    float: left;
    display: flex;
    height: 100%;
    align-items: flex-end;
    overflow-y: auto;
}

.dv-card-funs {}


/* ESTILO DOS CARDS */

.card-last-game {
    float: left;
    margin-left: 20px;
    width: 250px;
}

.card-last-game img {
    width: 100%;
}

.card-default {
    width: 170px;
    min-width: 170px;
    height: 170px;
    min-height: 170px;
    margin-left: 10px;
}

.card-default img {
    width: 100%;
}


/* SCROLLBAR STYLE */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 16px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}